<div class="collection-item">
  <a class="collection-item__image image-link
    {% if product.metafields.custom_fields["collection_item_hover_image"] != blank %} has-hover{% endif %}"
    href="{{ product.url | within: collection }}"
    title="{{ product.title }} - {{ product.price | money }}">
    {% render 'responsive-image' with
      image: product.featured_image,
      max_width: 600,
      max_height: 600,
      wrapper_class: 'collection-item__image'
    %}
    {% if product.metafields.custom_fields["collection_item_hover_image"] != blank %}
      <div class='collection-item__secondary-image'>
        <img class="lazyload"
          alt="{{- product.metafields.custom_fields["collection_item_title"] | default: product.title -}}"
          src="{{ product.metafields.custom_fields["collection_item_hover_image"] }}"
          data-src="{{ product.metafields.custom_fields["collection_item_hover_image"] }}"
        >
      </div>
    {% endif %}

    {% render 'collection-item-badge' with product: product %}
  </a>

  <div class="collection-item__reviews">
    <!-- Stamped - Begin Star Rating Badge -->
    <span
    class="stamped-product-reviews-badge stamped-main-badge"
    data-id="{{ product.id }}"
    data-product-sku="{{product.selected_or_first_available_variant.sku}}"
    data-product-title="{{product.title}}"
    data-product-type="{{product.type}}"
    style="display: block;">
    </span>
    <!-- Stamped - End Star Rating Badge -->
  </div>

  <div class="collection-item__info">
    <h4 class="ui-body-bold">
      <a href="{{ product.url | within: collection }}"
        title="{{ product.title }} - {{ product.price | money }}">
        {{- product.metafields.custom_fields["collection_item_title"] | default: product.title | strip_html -}}
      </a>
    </h4>

    {%- capture price -%}
      {%- if product.compare_at_price > product.price -%}
        {%- assign original_price = product.compare_at_price | money -%}
        {%- assign sale_price = product.price | money -%}
        {%- assign savings_price = product.compare_at_price | minus: product.price | money_without_currency -%}
        <span class="visually-hidden">
          {{ 'general.accessibility.strikethough_price' | t: original: original_price, sale: sale_price }}
        </span>
        <span class="product-price" aria-hidden="true">{{ product.price | money_without_trailing_zeros | remove: ' CAD' }}</span>
        <span class="strikethrough-price" aria-hidden="true">{{ product.compare_at_price | money_without_trailing_zeros | remove: ' CAD' }}</span>
        <span class="savings-price">{{ 'products.product.save_money' | t: value: savings_price }}</span>
      {% else %}
        <span class="product-price" aria-hidden="true">{{ product.price | money_without_trailing_zeros | remove: ' CAD' }}</span>
      {% endif %}
    {% endcapture %}

    {% if product.metafields.custom_fields["collection_item_secondary_text"] != blank %}
      <p class="collection-item__copy">
        {{- product.metafields.custom_fields["collection_item_secondary_text"] -}}
      </p>
    {% endif %}
    <p class="price-output">
      {{ price }}
    </p>
  </div>

  {% if product.has_only_default_variant == false or product.available == false and product.metafields.custom_fields["routine_bundle_options"] == blank %}
    <a class="btn btn--chocolate btn--full" href="{{ product.url }}">
      {{ 'products.product.view_details' | t }}
    </a>
  {% else %}
    <button class="btn btn--chocolate btn--full" href="{{ product.url }}"
      data-featured-collection-item-add-to-cart
      data-variant-id="{{ product.first_available_variant.id }}"
    >
      {{ 'products.product.add_to_cart' | t }}
    </button>
  {% endif %}
</div>
