{%- liquid
  assign input_placeholder = 'general.search.placeholder' | t
  assign placeholder = placeholder | default: input_placeholder

  assign search_type = search_type | default: 'product'
-%}

<form action="{{ routes.search_url }}" method="get" class="search-bar" role="search">
  <input type="hidden"
        name="type"
        value="{{ search_type }}">

  <input type="search"
        class="search-bar__input"
        name="q"
        value="{{ search.terms | escape }}"
        placeholder="{{ placeholder }}">

  <button class="search-bar__submit" type="submit" class="btn" aria-label="{{ 'search.submit' | t }}">{% render 'icon-search' %}</button>
</form>