{{ 'activate_account.css' | asset_url | stylesheet_tag }}

<div class="account-form">
  <div class="wrapper">
    <div class="account-form__content">
      <div class="form-vertical">
        {% form 'activate_customer_password' %}
          <h1>{{ 'customer.activate_account.title' | t }}</h1>

          <p>{{ 'customer.activate_account.subtext' | t }}</p>

          <div class="form-input-group" data-form-input-group>
            <label for="customerPassword" class="label-hidden">{{ 'customer.activate_account.password' | t }}</label>
            <input type="password"
              name="customer[password]"
              id="customerPassword"
              data-form-input
              placeholder="{{ 'customer.activate_account.password' | t }}">
          </div>

          <div class="form-input-group" data-form-input-group>
          <label for="customerPasswordConfirmation" class="label-hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input type="password"
            name="customer[password_confirmation]"
            id="customerPasswordConfirmation"
            data-form-input
            placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
          </div>

          {% if form.errors %}
            <div class="form-errors">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

          <button type="submit" class="btn btn--full">{{ 'customer.activate_account.submit' | t }}</button>

          <div class="account-form__actions">
            <button type="submit" name="decline">{{ 'customer.activate_account.cancel' | t }}</button>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>