{% assign insurance_product = all_products[settings.insurance_product] %}

<script src="{{ 'ajaxcart.js' | asset_url }}" defer="defer"></script>

{% if settings.ajaxcart == true %}
  <div class="ajaxcart" role="region" aria-label="Cart" data-drawer="cart">
    <div class="ajaxcart__header">
      <h2 class="ajaxcart__title">{{ 'cart.general.title' | t }}</h2>

      {% capture cart_count %}{% render 'cart-count' %}{% endcapture %}
      <span class="ajaxcart__count">{{ 'cart.general.item_count_html' | t: count: cart_count }}</span>

      <button type="button" class="ajaxcart__close" aria-label="Close Cart" data-drawer-close>
        {% render 'icon-close' %}
      </button>
    </div>

    <div class="ajaxcart__content {% if cart.item_count == 0 %}empty{% endif %}" data-ajaxcart-content>
      {% if section.settings.enable_rewards %}
        <div class="ajaxcart-tiers">
          <h3 class="ajaxcart-tiers__title">{{ 'cart.general.rewards' | t }}</h3>
          <ul class="ajaxcart-tiers__list">
            {%- liquid
              assign first_locked_block_index = nil
              assign first_locked_block_spend_amount = 0
              assign reward_cart_items = ''
            -%}

            {% for block in section.blocks %}
              {%- assign block_spend_amount = block.settings.spend_amount | times: 100 -%}
              {%- assign block_product = all_products[block.settings.product] -%}
              {%- assign block_variant_id = block.settings.variant_id | default: block_product.first_available_variant.id -%}
              {%- if block.type == 'reward_tier' and block_variant_id == blank %}{% continue %}{% endif -%}

              <li
                class="ajaxcart-tiers__tier{% if block_spend_amount < cart.total_price %} active{% endif %}"
                data-reward-tier
                data-amount="{{ block_spend_amount }}"
                data-add-text="{{ block.settings.add_to_recieve_text }}"
                {% if block.type == 'reward_tier' %}
                  data-variant-id="{{ block_variant_id }}"
                {% endif %}
              >
                {% render 'icon-tier-star' %}
                {% render 'icon-tier-lock' %}
                <span>{{ block.settings.progress_title | replace_first: ' ', '<br>' }}</span>
              </li>

              {%- liquid
                if block_spend_amount > cart.total_price and first_locked_block_index == blank
                  assign first_locked_block_index = forloop.index0
                endif

                if block.type == 'free_shipping_tier'
                  continue
                endif
              -%}

              {% capture reward_cart_item %}
                {%- liquid
                  assign matching_cart_item = nil
                  assign matching_reward_items = cart.items | where: 'variant_id', block_variant_id

                  for item in matching_reward_items
                    if item.properties._cart_reward == 'true'
                      assign matching_cart_item = item
                    endif
                  endfor
                -%}

                <div class="ajaxcart-reward-item-wrap"
                  data-cart-item-reward
                  data-amount="{{ block_spend_amount }}"
                  data-variant-id="{{ block_variant_id }}"
                >
                  <div class="ajaxcart-reward-item hide"
                    data-cart-item-reward-active
                  >
                    <div class="ajaxcart-reward-item__image">
                      {% render 'responsive-image' with
                        image: block_product.featured_image,
                        max_width: 85,
                        max_height: 85,
                        id_suffix: 'ajaxcart-reward'
                      %}
                    </div>

                    <div class="ajaxcart-reward-item__content">
                      <h4 class="ajaxcart-reward-item__title">{{ block.settings.cart_item_title }}</h4>
                      <p class="ajaxcart-reward-item__copy">{{ block.settings.cart_item_desc }}</p>
                    </div>

                    <div class="ajaxcart-reward-item__remove">
                      <button type="button"
                        aria-label="{{ 'cart.general.remove_reward_from_cart' | t }} {{ matching_cart_item.product.title }}"
                        data-reward-line-item-remove
                      >
                        {%- render 'icon-cart-remove' -%}
                      </button>
                    </div>
                  </div>

                  <div class="ajaxcart-reward-removed-item hide"
                    data-cart-item-reward-removed
                  >
                    <span>{{ 'cart.general.reward_item_has_been_removed' | t: item_title: block.settings.progress_title }}</span>
                    <button type="button" class="ajaxcart-reward-removed-item__add" class="ajaxcart-reward-item__remove"
                      data-reward-line-item-add
                      aria-label="{{ 'cart.general.add_reward_to_cart' | t }}: {{ matching_cart_item.product.title }}"
                    >
                      <u>{{ 'cart.general.re_add' | t }}</u> +
                    </button>
                  </div>
                </div>
              {% endcapture %}
              {% assign reward_cart_items = reward_cart_items | append: reward_cart_item %}
            {% endfor %}
          </ul>

          {%- liquid
            assign first_locked_block_real_index = first_locked_block_index | plus: 1
            assign block_size = section.blocks.size | append: '.0' | times: 1
            assign tier_percentage_value = 1 | divided_by: block_size | times: 100
            if first_locked_block_index
              assign progress = first_locked_block_real_index | times: tier_percentage_value
            else
              assign progress = 100
            endif
          -%}

          <span class="visually-hidden">Rewards Progress: {{ progress }}%</span>
          <div class="ajaxcart-rewards-progress" max="100" value="{{ progress }}" aria-hidden="true">
            <span
              class="ajaxcart-rewards-progress__fill"
              style="width: {{ progress }}%;"
              data-free-gift-progress-bar
            ></span>
          </div>

          {%- liquid
            assign block_variant_ids = block_variant_ids | remove_first: ',' | split: ','
            assign first_locked_block = section.blocks[first_locked_block_index]
            assign first_locked_block_spend_amount = first_locked_block.settings.spend_amount | times: 100
            assign amount_left = first_locked_block_spend_amount | minus: cart.total_price
            assign amount_text = amount_left | money | remove: 'CAD' | strip
          -%}

          <p class="ajaxcart-rewards__text" data-cart-tier-add-text>
            {{ first_locked_block.settings.add_to_recieve_text | replace: '[amount]', amount_text }}
          </p>

          {{ reward_cart_items }}
        </div>
      {% endif %}

      <div
        class="ajaxcart__items{% if cart.items.size == 0 %} hide{% endif %}"
        role="region"
        aria-label="{{ 'general.accessibility.cart_items' | t }}"
        data-line-item-count="{{ cart.items.size }}"
        data-ajaxcart-items
        {% if settings.enable_product_insurance != blank and insurance_product != blank -%}
          data-insurance-product-id="{{ insurance_product.variants[0].id }}"
        {%- endif -%}
      >
        <div class="ajaxcart__loading-item hide" data-ajaxcart-loading-item aria-live="polite">
          <span class="ui-label">{{ 'cart.general.adding_item' | t }}</span>
        </div>

        {% assign cart_item_product_ids = cart.items | map: 'product_id' %}

        {% assign insurance_item = cart.items | where: 'product_id', insurance_product.id | first %}

        {% for item in cart.items %}
          {% comment %}
    LOOP SUBSCRIPTIONS (https://apps.shopify.com/loop-subscriptions)
    DO NOT modify this source code because
    It is automatically generated from LOOP SUBSCRIPTIONS BUNDLE DESIGN
    If you need to make change, please contact the Loop support team
    LOOP BUNDLE CODE STARTS
{% endcomment %}
    {% assign isBundleItem = false %}
    {%- for property in item.properties -%}
        {% if property.first == '_bundleId' %}
            {% assign isBundleItem = true %}
            {% break %}
        {% endif %}
    {%- endfor -%}
    {% if isBundleItem == true %}
        {% continue %}
    {% endif %}
{% comment %}
    LOOP BUNDLE CODE ENDS
{% endcomment %}
          {%- comment -%}Skip cart rewards{%- endcomment -%}
          {%- if item.properties._cart_reward == 'true' or item.product_id == insurance_item.product_id -%}
            {%- continue -%}
          {%- endif -%}

          {% render 'cart-item' with item: item, cart_item_product_ids: cart_item_product_ids %}
        {% endfor %}

        {% if insurance_item != blank %}
          {% render 'cart-item' with item: insurance_item, is_insurance_item: true %}
        {% endif %}
      </div>

      {% if section.settings.carousel_product_list != blank %}
        <div class="ajaxcart__carousel" data-ajaxcart-carousel>
          <p class="carousel__title">{{ section.settings.carousel_title }}</p>
          {% render 'cart-carousel' with section: section, cart_item_product_ids: cart_item_product_ids %}
        </div>
      {% endif %}

      <div class="ajaxcart-footer" data-ajaxcart-footer>
        <p class="ajaxcart-footer__row">
          <span>{{ 'cart.general.subtotal' | t }}</span>
          <span class="CART_SUBTOTAL_CLASS" data-cart-subtotal>{{ cart.total_price | money }}</span>
        </p>

        <p class="ajaxcart-footer__row">
          <span>{{ 'cart.general.tax' | t }}</span>
          <span>--</span>
        </p>

        {%- assign free_shipping_block = section.blocks | where: 'type', 'free_shipping_tier' | first -%}
        {%- assign free_shipping_amount = free_shipping_block.settings.spend_amount | times: 100 -%}
        <p class="ajaxcart-footer__row">
          <span>{{ 'cart.general.shipping' | t }}</span>
          <span data-cart-footer-free-shipping data-amount="{{ free_shipping_amount }}">
            {%- if cart.total_price > free_shipping_amount -%}
              {{- 'cart.general.shipping_free' | t -}}
            {%- else -%}
              --
            {%- endif -%}
          </span>
        </p>

        <!-- START - ESTIMATED SHIPPING DELIVERY COPY -->
        <style>
          @media screen and (max-width: 600px){
            .estimateDD {
              font-size:12px;
            }
          }
          p.estimateDD {
            visibility: hidden;
          }
        </style>
        {% assign startDay = 5 | times: 86400 %}
        {% assign endDay = 7 | times: 86400 %}
        <p class="ajaxcart-footer__disclaimer estimateDD">
          <span>Estimated delivery date:</span><br>
          <strong>
            {{- 'now' | date: '%s' | plus: startDay | date: '%a, %b %d' }} -
            {{ 'now' | date: '%s' | plus: endDay | date: '%a, %b %d' -}}
          </strong>
        </p>
        <!-- END - ESTIMATED SHIPPING DELIVERY COPY -->

        <p class="ajaxcart-footer__disclaimer">{{ 'cart.general.shipping_at_checkout' | t }}</p>

        {% if additional_checkout_buttons and section.settings.show_additional_checkout_button == true %}
          <div class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {% endif %}
      </div>

      <div class="ajaxcart-empty hide" data-ajaxcart-empty>
        <div class="ajaxcart-empty__content">
          <h3 class="ajaxcart-empty__title">{{ section.settings.empty_title | newline_to_br }}</h3>
          {% if section.settings.empty_cta_text != blank %}
            <a class="btn btn--chocolate" href="{{ section.settings.empty_cta_url }}">
              {{- section.settings.empty_cta_text -}}
            </a>
          {% endif %}
        </div>

        {% if section.settings.empty_image != blank %}
          {%
            render 'responsive-image' with
            image: section.settings.empty_image,
            max_width: 500,
            max_height: 500,
            wrapper_class: 'ajaxcart-empty__image'
          %}
        {% endif %}
      </div>
    </div>

    <div class="ajaxcart__checkout" data-ajaxcart-checkout>
      <a class="btn btn--full btn--chocolate" href="/checkout" title="{{ 'cart.general.checkout' | t }}">
        {{- 'cart.general.checkout' | t -}}
      </a>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_rewards",
      "label": "Enable rewards",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_additional_checkout_button",
      "label": "Show additional checkout buttons",
      "default": true
    },
    {
      "type": "header",
      "content": "Carousel settings"
    },
    {
      "type": "text",
      "id": "carousel_title",
      "label": "Carousel Title",
      "default": "You may also like"
    },
    {
      "type": "product_list",
      "id": "carousel_product_list",
      "label": "Carousel Products",
      "info": "The first three products will get displayed in the carousel. You may provide up to three additional backup products.",
      "limit": 6
    },
    {
      "type": "text",
      "id": "carousel_product_name_1",
      "label": "Overwrite product 1 name"
    },
    {
      "type": "richtext",
      "id": "carousel_product_desc_1",
      "label": "Overwrite product 1 price"
    },
    {
      "type": "text",
      "id": "carousel_product_name_2",
      "label": "Overwrite product 2 name"
    },
    {
      "type": "richtext",
      "id": "carousel_product_desc_2",
      "label": "Overwrite product 2 price"
    },
    {
      "type": "text",
      "id": "carousel_product_name_3",
      "label": "Overwrite product 3 name"
    },
    {
      "type": "richtext",
      "id": "carousel_product_desc_3",
      "label": "Overwrite product 3 price"
    },
    {
      "type": "text",
      "id": "carousel_product_name_4",
      "label": "Overwrite product 4 name"
    },
    {
      "type": "richtext",
      "id": "carousel_product_desc_4",
      "label": "Overwrite product 4 price"
    },
    {
      "type": "text",
      "id": "carousel_product_name_5",
      "label": "Overwrite product 5 name"
    },
    {
      "type": "richtext",
      "id": "carousel_product_desc_5",
      "label": "Overwrite product 5 price"
    },
    {
      "type": "text",
      "id": "carousel_product_name_6",
      "label": "Overwrite product 6 name"
    },
    {
      "type": "richtext",
      "id": "carousel_product_desc_6",
      "label": "Overwrite product 6 price"
    },
    {
      "type": "header",
      "content": "Empty Cart Settings"
    },
    {
      "type": "textarea",
      "id": "empty_title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "empty_cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "empty_cta_url",
      "label": "CTA URL"
    },
    {
      "type": "image_picker",
      "id": "empty_image",
      "label": "Image",
      "info": "800 x 800"
    }
  ],
  "blocks": [
    {
      "type": "free_shipping_tier",
      "name": "Free Shipping Tier",
      "limit": 1,
      "settings": [
        {
          "type": "number",
          "id": "spend_amount",
          "label": "Spend Amount",
          "info": "Cart total threshold to get free shipping. Format: 20"
        },
        {
          "type": "text",
          "id": "progress_title",
          "label": "Title",
          "default": "Free Shipping"
        },
        {
          "type": "textarea",
          "id": "add_to_recieve_text",
          "label": "Add to Recieve Text",
          "default": "Add [amount] to receive a free shipping.",
          "info": "Example: Add [amount] to receive a free shipping. [amount] will be replaced by the amount required to get free shipping"
        }
      ]
    },
    {
      "type": "reward_tier",
      "name": "Reward Tier",
      "limit": 3,
      "settings": [
        {
          "type": "number",
          "id": "spend_amount",
          "label": "Spend Amount",
          "info": "Cart total threshold to claim this rewards. Format: 20"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "variant_id",
          "label": "Variant ID",
          "info": "Optional. Product's first variant will be used by default"
        },
        {
          "type": "text",
          "id": "progress_title",
          "label": "Progress Item Title"
        },
        {
          "type": "textarea",
          "id": "add_to_recieve_text",
          "label": "Add to Recieve Text",
          "info": "Example: Add [amount] to receive a free sample. [amount] will be replaced by the amount required to receive gift"
        },
        {
          "type": "header",
          "content": "Cart Item Settings",
          "info": "Settings for item once added to cart"
        },
        {
          "type": "text",
          "id": "cart_item_title",
          "label": "Cart Item Title",
          "info": "Optional. Product Title will be used by default"
        },
        {
          "type": "textarea",
          "id": "cart_item_desc",
          "label": "Cart Item Description"
        }
      ]
    }
  ]
}
{% endschema %}
<script defer="defer">
  window.Loop = {};
  window.Loop.bundleCartAllItems = {{ cart.items | json }};
  console.log("btitti")
  bootstrap("ajaxcart__items");
</script>
