<script src="{{ 'before-and-after.js' | asset_url }}" defer="defer"></script>
{{ 'before-and-after.css' | asset_url | stylesheet_tag }}

<div class="before-and-after before-and-after--{{ section.id }}">
  <div class="before-and-after__container">
    <div class="before-and-after__content">
      {% if section.settings.heading != blank %}
        <h2 class="before-and-after__heading">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.subheading != blank %}
        <p class="before-and-after__subheading">{{ section.settings.subheading }}</p>
      {% endif %}
      {% if section.settings.cta_text != blank %}
        <button type="button" class="btn" title="{{ section.settings.cta_text }}"
          data-social-overlay-trigger="{{ section.id }}"
          data-social-overlay-trigger-slide="0">
          {{- section.settings.cta_text -}}
        </button>
      {% endif %}
    </div>
    <div class="before-and-after__image">
      {% render 'responsive-image' with
        image: section.settings.image_mobile,
        max_width: 750,
        max_height: 1437,
        wrapper_class: 'before-and-after__image-mobile'
      %}
      {% render 'responsive-image' with
        image: section.settings.image_desktop,
        max_width: 3200,
        max_height: 1498,
        wrapper_class: 'before-and-after__image-desktop'
      %}
    </div>
  </div>
</div>

{% if section.settings.cta_text != blank and section.blocks.size > 0 %}
  {% render 'social-overlay' %}
{% endif %}

{% render 'custom-spacing' with
  section_name: 'before-and-after'
%}

{% if section.settings.gradient_enable_mobile or section.settings.gradient_enable_desktop %}
  {% style %}
    {% if section.settings.gradient_enable_mobile %}
      @media (max-width: 750px) {
        .before-and-after--{{ section.id }} .before-and-after__image::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            {{ section.settings.gradient_angle_mobile }}deg,
            {{ section.settings.gradient_color_mobile | color_modify: 'alpha', 0 }} 0%,
            {{ section.settings.gradient_color_mobile | color_modify: 'alpha', 0.6 }} 100%
          );
          content: '';
        }
      }
    {% endif %}
    {% if section.settings.gradient_enable_desktop %}
      @media (min-width: 750px) {
        .before-and-after--{{ section.id }} .before-and-after__image::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            {{ section.settings.gradient_angle_desktop }}deg,
            {{ section.settings.gradient_color_desktop | color_modify: 'alpha', 0.2 }} 0%,
            {{ section.settings.gradient_color_desktop | color_modify: 'alpha', 0.2 }} 100%
          );
          border-radius: 16px;
          content: '';
        }
      }
    {% endif %}
  {% endstyle %}
{% endif %}

{% schema %}
  {
    "name": "Before And After",
    "blocks": [
      {
        "type": "testimonial_story",
        "name": "Testimonial Story",
        "settings": [
          {
            "type": "text",
            "id": "social_handle",
            "label": "Social Handle"
          },
          {
            "type": "product",
            "id": "product_ref",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "product_title",
            "label": "Product Title"
          },
          {
            "type": "textarea",
            "id": "product_copy",
            "label": "Product Copy"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1",
            "info": "Dimensions: 750 x 1498"
          },
          {
            "type": "textarea",
            "id": "image_1_testimonial",
            "label": "Image 1 Testimonial",
            "info": "Use pipe character (|) to separate lines"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2",
            "info": "Dimensions: 750 x 1498"
          },
          {
            "type": "textarea",
            "id": "image_2_testimonial",
            "label": "Image 2 Testimonial",
            "info": "Use pipe character (|) to separate lines"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3",
            "info": "Dimensions: 750 x 1498"
          },
          {
            "type": "textarea",
            "id": "image_3_testimonial",
            "label": "Image 3 Testimonial",
            "info": "Use pipe character (|) to separate lines"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image | Mobile",
        "info": "Dimensions: 750 x 1437"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Image | Desktop",
        "info": "Dimensions: 3200 x 1498"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text",
        "info": "Opens overlay"
      },
      {
        "type": "header",
        "content": "Overlay",
        "info": "Overlays Images/Videos"
      },
      {
        "type": "checkbox",
        "id": "gradient_enable_mobile",
        "label": "Enable Gradient Overlay | Mobile",
        "default": true
      },
      {
        "type": "color",
        "id": "gradient_color_mobile",
        "label": "Gradient Color | Mobile",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "gradient_angle_mobile",
        "label": "Gradient Angle | Mobile",
        "min": 0,
        "max": 360,
        "step": 5,
        "unit": "deg",
        "default": 180
      },
      {
        "type": "checkbox",
        "id": "gradient_enable_desktop",
        "label": "Enable Gradient Overlay | Desktop",
        "default": true
      },
      {
        "type": "color",
        "id": "gradient_color_desktop",
        "label": "Gradient Color | Desktop",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "gradient_angle_desktop",
        "label": "Gradient Angle | Desktop",
        "min": 0,
        "max": 360,
        "step": 5,
        "unit": "deg",
        "default": 0
      },
      {
        "type": "header",
        "content": "CTA Slide",
        "info": "Final slide in Testimonial Stories slider"
      },
      {
        "type": "checkbox",
        "id": "enable_cta_slide",
        "label": "Enable",
        "default": true
      },
      {
        "type": "text",
        "id": "cta_slide_title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "cta_slide_copy",
        "label": "Copy"
      },
      {
        "type": "url",
        "id": "cta_slide_cta_link",
        "label": "CTA Link"
      },
      {
        "type": "text",
        "id": "cta_slide_cta_text",
        "label": "CTA Text"
      },
      {
        "type": "header",
        "content": "Custom Spacing"
      },
      {
        "type": "select",
        "id": "margin_top_mobile",
        "label": "Top Margin | Mobile",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_bottom_mobile",
        "label": "Bottom Margin | Mobile",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_top_desktop",
        "label": "Top Margin | Desktop",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          },
          {
            "value": "96px",
            "label": "96px"
          },
          {
            "value": "104px",
            "label": "104px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_bottom_desktop",
        "label": "Bottom Margin | Desktop",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          },
          {
            "value": "96px",
            "label": "96px"
          },
          {
            "value": "104px",
            "label": "104px"
          }
        ],
        "default": "default"
      }
    ],
    "presets": [
      {
        "name": "Before And After"
      }
    ]
  }
{% endschema %}
