<script src="{{ 'ig-story-feed.js' | asset_url }}" defer="defer"></script>
{{ 'ig-story-feed.css' | asset_url | stylesheet_tag }}

<div class="ig-story-feed ig-story-feed--{{ section.id }}" data-ig-story-feed>
  <div class="ig-story-feed__container">
    {% if section.settings.heading != blank %}
      <h2 class="ig-story-feed__heading">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <div class="ig-story-feed__subheading">
        {{- section.settings.subheading -}}
      </div>
    {% endif %}

    <div class="ig-story-feed__blocks swiper-container" data-ig-story-feed-slider>
      <div class="ig-story-feed__blocks-container swiper-wrapper">
        {% for block in section.blocks %}
          <div class="ig-story-feed__block swiper-slide">
            <button type="button"
              class="ig-story-feed__trigger"
              title="{{ 'general.accessibility.ig_story_trigger' | t: title: block.settings.title }}"
              aria-label="{{ 'general.accessibility.ig_story_trigger' | t: title: block.settings.title }}"
              data-social-overlay-trigger="{{ section.id }}"
              data-social-overlay-trigger-slide="{{ forloop.index0 }}">
              <div class="ig-story-feed__block-image"
                style="background-color: {{ block.settings.bg_color }};">
                {% render 'responsive-image' with
                  image: block.settings.icon,
                  max_width: 40,
                  max_height: 40,
                  wrapper_class: 'ig-story-feed__block-image-wrapper'
                %}
              </div>
              <p class="ig-story-feed__block-title">{{ block.settings.title }}</p>
            </button>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% if section.blocks.size > 0 %}
  {% render 'social-overlay' %}
{% endif %}

{% render 'custom-spacing' with
  section_name: 'ig-story-feed'
%}

{% schema %}
  {
    "name": "Instagram Story Feed",
    "blocks": [
      {
        "type": "ig_story",
        "name": "Instagram Story",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon",
            "info": "(PNG Format) Dimensions: 80 x 80"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#E4C097"
          },
          {
            "type": "header",
            "content": "Testimonal Story"
          },
          {
            "type": "text",
            "id": "social_handle",
            "label": "Social Handle"
          },
          {
            "type": "product",
            "id": "product_ref",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "product_title",
            "label": "Product Title"
          },
          {
            "type": "textarea",
            "id": "product_copy",
            "label": "Product Copy"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1",
            "info": "Dimensions: 750 x 1498"
          },
          {
            "type": "textarea",
            "id": "image_1_testimonial",
            "label": "Image 1 Testimonial",
            "info": "Use pipe character (|) to separate lines"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2",
            "info": "Dimensions: 750 x 1498"
          },
          {
            "type": "textarea",
            "id": "image_2_testimonial",
            "label": "Image 2 Testimonial",
            "info": "Use pipe character (|) to separate lines"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3",
            "info": "Dimensions: 750 x 1498"
          },
          {
            "type": "textarea",
            "id": "image_3_testimonial",
            "label": "Image 3 Testimonial",
            "info": "Use pipe character (|) to separate lines"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "header",
        "content": "Custom Spacing"
      },
      {
        "type": "select",
        "id": "margin_top_mobile",
        "label": "Top Margin | Mobile",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_bottom_mobile",
        "label": "Bottom Margin | Mobile",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_top_desktop",
        "label": "Top Margin | Desktop",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          },
          {
            "value": "96px",
            "label": "96px"
          },
          {
            "value": "104px",
            "label": "104px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_bottom_desktop",
        "label": "Bottom Margin | Desktop",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          },
          {
            "value": "96px",
            "label": "96px"
          },
          {
            "value": "104px",
            "label": "104px"
          }
        ],
        "default": "default"
      }
    ],
    "presets": [
      {
        "name": "Instagram Story Feed"
      }
    ]
  }
{% endschema %}
