<script src="{{ 'ingredient-faqs.js' | asset_url }}" defer="defer"></script>
{{ 'ingredient-faqs.css' | asset_url | stylesheet_tag }}

{% assign ingredient_blocks = section.blocks | where: 'type', 'ingredient' %}
{% assign faq_blocks = section.blocks | where: 'type', 'faq' %}

<div class="ingredient-faqs ingredient-faqs--{{ section.id }}">
  <div class="ingredient-faqs__wrapper wrapper">
    <div class="ingredient-faqs__ingredients">
      {% if section.settings.heading_ingredients != blank %}
        <h2>{{ section.settings.heading_ingredients }}</h2>
      {% endif %}
      {% if ingredient_blocks.size > 0 %}
        <div class="ingredient-faqs__ingredients-container">
          {% for ingredient in ingredient_blocks %}
            <div class="ingredient-faqs__ingredient">
              <p>{{ ingredient.settings.title }}</p>
              <p>{{ ingredient.settings.copy }}</p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="ingredient-faqs__faqs">
      {% if section.settings.heading_faq != blank %}
        <h2>{{ section.settings.heading_faq }}</h2>
      {% endif %}
      {% if faq_blocks.size > 0 %}
        <div class="ingredient-faqs__faqs-container">
          {% for faq in faq_blocks %}
            <div class="ingredient-faqs__faq {% if forloop.first %} active{% endif %}" data-accordion>
              <div class="ingredient-faqs__faq-trigger">
                <button id="ingredient-faq-{{ section.id }}--{{ forloop.index }}"
                  title="{{ faq.settings.question }}"
                  aria-label="{{ faq.settings.question }}"
                  aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                  aria-controls="ingredient-faq-answer-{{ section.id }}--{{ forloop.index }}"
                  data-accordion-trigger>
                  <span>{{ faq.settings.question }}</span>
                  <div aria-hidden>
                    {%- render 'icon-plus' -%}
                    {%- render 'icon-minus' -%}
                  </div>
                </button>
              </div>
              <div id="ingredient-faq-answer-{{ section.id }}--{{ forloop.index }}"
                class="ingredient-faqs__faq-content"
                aria-labelledby="ingredient-faq-{{ section.id }}--{{ forloop.index }}"
                data-accordion-content>
                <p>{{ faq.settings.answer }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% render 'custom-spacing' with
  section_name: 'ingredient-faqs'
%}

{% schema %}
  {
    "settings": [
      {
        "type": "text",
        "id": "heading_faq",
        "label": "FAQs Heading"
      },
      {
        "type": "text",
        "id": "heading_ingredients",
        "label": "Ingredients Heading"
      },
      {
        "type": "header",
        "content": "Custom Spacing"
      },
      {
        "type": "select",
        "id": "margin_top_mobile",
        "label": "Top Margin | Mobile",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_bottom_mobile",
        "label": "Bottom Margin | Mobile",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_top_desktop",
        "label": "Top Margin | Desktop",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          },
          {
            "value": "96px",
            "label": "96px"
          },
          {
            "value": "104px",
            "label": "104px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_bottom_desktop",
        "label": "Bottom Margin | Desktop",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          },
          {
            "value": "96px",
            "label": "96px"
          },
          {
            "value": "104px",
            "label": "104px"
          }
        ],
        "default": "default"
      }
    ],
    "blocks": [
      {
        "type": "ingredient",
        "name": "Ingredient",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "copy",
            "label": "Copy"
          }
        ]
      },
      {
        "type": "faq",
        "name": "FAQ",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "textarea",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ingredient FAQs"
      }
    ]
  }
{% endschema %}
