{% for collection in collections %}
  {% unless collection.handle == 'frontpage' %}
    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

    <div class="grid grid--table">
      <div class="grid__item medium-up--6">
        <h3>{{ collection_title }}</h3>
      </div>

      <div class="grid__item medium-up--6 medium-up--text-right">
        <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection_title }} &rarr;</a>
      </div>
    </div>

    {% unless forloop.last %}<hr>{% endunless %}
  {% endunless %}
{% endfor %}