<script src="{{ 'press-highlights.js' | asset_url }}" defer="defer"></script>
{{ 'press-highlights.css' | asset_url | stylesheet_tag }}

<div class="press-highlights press-highlights--{{ section.id }} press-highlights--{{ template | handleize }}" data-press-highlights>
  <div class="press-highlights__container"
    style="background-color: {{ section.settings.bg_color }};"
    data-press-highlights-container>
    <div class="press-highlights__quotes">
      {% for block in section.blocks %}
        <div class="press-highlights__quote{% if forloop.first %} active{% endif %}"
          data-press-highlights-quote="{{ block.id }}">
          <p style="color: {{ block.settings.color }};">{{ block.settings.copy }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="press-highlights__logos swiper-container" data-press-highlights-slider>
      <div class="press-highlights__logos-container swiper-wrapper">
        {% for block in section.blocks %}
          <button type="button"
            class="press-highlights__logo swiper-slide{% if forloop.first %} active{% endif %}"
            aria-label="{{ 'general.accessibility.logo_testimonial' | t: title: block.settings.title }}"
            data-press-highlights-logo="{{ block.id }}"
            data-press-highlights-bg="{{ block.settings.bg_color }}"
            data-press-highlights-cta-bg="{{ block.settings.cta_bg_color }}"
            {% if block.settings.invert_logos %}data-press-highlights-invert{% endif %}>
            <img src="{{ block.settings.logo | img_url: 'master' }}"
              alt="{{ block.settings.title }}"
              class="lazyload"
              style="height: {{ block.settings.logo_height }}px;"
              data-src="{{ block.settings.logo | img_url: 'master' }}">
          </button>
        {% endfor %}
      </div>
    </div>
    {% if section.settings.cta_text != blank and section.settings.cta_link != blank %}
      <div class="press-highlights__cta">
        <a href="{{ section.settings.cta_link }}"
          class="btn"
          title="{{ section.settings.cta_text }}"
          style="background-color: {{ section.settings.cta_bg_color }};"
          data-press-highlights-cta>
          {{- section.settings.cta_text -}}
        </a>
      </div>
    {% endif %}
  </div>
</div>

{% render 'custom-spacing' with
  section_name: 'press-highlights'
%}

{% schema %}
  {
    "name": "Press Highlights",
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "info": "For accessibility"
          },
          {
            "type": "textarea",
            "id": "copy",
            "label": "Copy"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo",
            "info": "(PNG Format) Dimensions: variable width, max-height of 56px (28px at 2x)"
          },
          {
            "type": "number",
            "id": "logo_height",
            "label": "Logo Height",
            "info": "(in pixels) max height: 28px"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#CCA181"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Text Color",
            "default": "#271710"
          },
          {
            "type": "color",
            "id": "cta_bg_color",
            "label": "CTA Background Color",
            "default": "#F8E2C9"
          },
          {
            "type": "checkbox",
            "id": "invert_logos",
            "label": "Invert Logos",
            "default": false,
            "info": "Black logos become white"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_link",
        "label": "CTA Link"
      },
      {
        "type": "header",
        "content": "Colors",
        "info": "Default Colors - Each Testimonial can have unique colors"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#CCA181"
      },
      {
        "type": "color",
        "id": "cta_bg_color",
        "label": "CTA Background Color",
        "default": "#F8E2C9"
      },
      {
        "type": "header",
        "content": "Custom Spacing"
      },
      {
        "type": "select",
        "id": "margin_top_mobile",
        "label": "Top Margin | Mobile",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_bottom_mobile",
        "label": "Bottom Margin | Mobile",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_top_desktop",
        "label": "Top Margin | Desktop",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          },
          {
            "value": "96px",
            "label": "96px"
          },
          {
            "value": "104px",
            "label": "104px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_bottom_desktop",
        "label": "Bottom Margin | Desktop",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          },
          {
            "value": "96px",
            "label": "96px"
          },
          {
            "value": "104px",
            "label": "104px"
          }
        ],
        "default": "default"
      }
    ],
    "presets": [
      {
        "name": "Press Highlights"
      }
    ]
  }
{% endschema %}
