{{ 'press-grid.css' | asset_url | stylesheet_tag }}

<div class="press-grid press-grid--{{ section.id }}" data-press-grid>
  <div class="wrapper press-grid__wrapper">
    {% if section.settings.title != blank %}
      <h2 class="press-grid__title">{{ section.settings.title }}</h2>
    {% endif %}

    <div class="press-grid__grid">
      {% for block in section.blocks %}
        <div class="press-grid__item">
          {% if block.settings.link != blank %}
            <a class="press-grid__link" href="{{ block.settings.link }}" title="{{ block.settings.title }}"></a>
          {% endif %}

          {% if block.settings.logo != blank %}
            <div class="press-grid__image-holder">
              <img src="{{ block.settings.logo | img_url: 'master' }}"
                alt="{{ block.settings.title }} Image"
                class="lazyload"
                style="height: {{ block.settings.logo_height }}px;"
                data-src="{{ block.settings.logo | img_url: 'master' }}"
              >
            </div>
          {% endif %}

          {% if block.settings.copy != blank %}
            <p>{{ block.settings.copy }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% render 'custom-spacing' with
  section_name: 'press-grid'
%}

{% schema %}
  {
    "name": "Press Grid",
    "blocks": [
      {
        "type": "press_item",
        "name": "Press Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "info": "For accessibility"
          },
          {
            "type": "textarea",
            "id": "copy",
            "label": "Copy"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo",
            "info": "(PNG Format) Dimensions: variable width, max-height of 56px (28px at 2x)"
          },
          {
            "type": "number",
            "id": "logo_height",
            "label": "Logo Height",
            "info": "(in pixels) max height: 64px"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "title",
        "default": "All Press Mentions"
      },
      {
        "type": "header",
        "content": "Custom Spacing"
      },
      {
        "type": "select",
        "id": "margin_top_mobile",
        "label": "Top Margin | Mobile",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_bottom_mobile",
        "label": "Bottom Margin | Mobile",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_top_desktop",
        "label": "Top Margin | Desktop",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          },
          {
            "value": "96px",
            "label": "96px"
          },
          {
            "value": "104px",
            "label": "104px"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "margin_bottom_desktop",
        "label": "Bottom Margin | Desktop",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "16px",
            "label": "16px"
          },
          {
            "value": "24px",
            "label": "24px"
          },
          {
            "value": "32px",
            "label": "32px"
          },
          {
            "value": "64px",
            "label": "64px"
          },
          {
            "value": "96px",
            "label": "96px"
          },
          {
            "value": "104px",
            "label": "104px"
          }
        ],
        "default": "default"
      }
    ],
    "presets": [
      {
        "name": "Press Grid"
      }
    ]
  }
{% endschema %}
