{{ 'reset_password.css' | asset_url | stylesheet_tag }}

<div class="account-form account-form--reset">
  <div class="account-form__wrapper wrapper">
    <div class="account-form__content">
      <div class="form-vertical">
        {% form 'reset_customer_password' %}
          <h1>{{ 'customer.reset_password.title' | t }}</h1>

          <div class="account-form__form-wrapper">
            <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            <div class="form-input-group" data-form-input-group>
              <label for="resetPassword" class="label-hidden">{{ 'customer.reset_password.password' | t }}</label>
              <input type="password"
                name="customer[password]"
                id="resetPassword"
                data-form-input
                class="{% if form.errors contains 'password' %}input-error{% endif %}"
                placeholder="{{ 'customer.reset_password.password' | t }}">
            </div>

            <div class="form-input-group" data-form-input-group>
              <label for="passwordConfirmation" class="label-hidden">{{ 'customer.reset_password.password_confirm' | t }}</label>
              <input type="password"
                name="customer[password_confirmation]"
                id="passwordConfirmation"
                data-form-input
                class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
                placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
            </div>

            {% if form.errors %}
              <div class="form-errors">
                {%- render 'icon-error' -%}
                {{- form.errors | default_errors -}}
              </div>
            {% endif %}

            <button type="submit" class="btn btn--chocolate btn--full">{{ 'customer.reset_password.submit' | t }}</button>
          </div>
        {% endform %}
      </div>
    </div>

    {% if shop.metafields.custom_fields["login_register_image"] != blank %}
      <div class="account-form__image">
        <img class="lazyload small--hide"
          alt="{{ shop.metafields.custom_fields["login_register_image_alt_text"] }}"
          src="{{ shop.metafields.custom_fields["login_register_image"] }}"
          data-src="{{ shop.metafields.custom_fields["login_register_image"] }}"
        >
      </div>
    {% endif %}
  </div>
</div>